# Speed up Electron binary download in regions where GitHub releases are slow.
# See https://www.electronjs.org/docs/latest/tutorial/installation#mirror
electron_mirror=https://npmmirror.com/mirrors/electron/
